<div class="container mt-4 card">
    <div>
        <h4 class="mt-2" style="text-align: center;">Gestión de Almacenes</h4>
        <button class="btn btn-primary" (click)="openModal(content)">
            <i class="bi bi-plus-circle"></i> <!-- Icono de Bootstrap Icons -->
            Nuevo
        </button>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let almacen of almacenes">
                <td>{{ almacen.codeAlmacen }}</td>
                <td>{{ almacen.nameAlmacen }}</td>
                <td>
                    <button type="button" class="btn btn-danger" (click)="eliminarAlmacen(almacen)"
                        [disabled]="almacen.eliminando">
                        <span *ngIf="!almacen.eliminando"><i class="bi bi-trash"></i></span>
                        <span *ngIf="almacen.eliminando">
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        </span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div  *ngIf="cargandoDatos" style="width: 100%;text-align: center;margin: 20px;">
        <span class="spinner-border spinner-border-md" style="color: gray;" role="status" aria-hidden="true"></span>
    </div>

    <!-- Modal -->
    <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Registrar cliente</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <form #productoForm="ngForm">
                <div class="form-group row">
                    <div class="mb-3 col-6">
                        <label for="nombre" class="form-label">Código</label>
                        <input type="text" class="form-control" id="nombre" [(ngModel)]="nuevoAlmacen.codeAlmacen" name="nombre"
                            required>
                    </div>
                    <div class="mb-3 col-6">
                        <label for="apellido" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="apellido" [(ngModel)]="nuevoAlmacen.nameAlmacen"
                        name="apellido" required>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="modal.dismiss('cancel')">Cancelar</button>
            <button type="button" class="btn btn-primary" [disabled]="creando" (click)="crearAlmacen(nuevoAlmacen);">
                <span *ngIf="!creando">Guardar</span>
                <span *ngIf="creando">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Registrando...
                </span>
            </button>
        </div>
    </ng-template>
</div>