<nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding: 10px 25px;">
    <a class="navbar-brand" href="#">TiluchiSoft ERP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
            <!-- <li class="nav-item">
                <a class="nav-link" routerLink="/app/ventas">Ventas</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" routerLink="/app/productos">Productos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/app/clientes">Clientes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/app/empleados">Empleados</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" routerLink="/app/almacenes">Almacenes</a>
            </li> -->
        </ul>
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link" href="#" (click)="cerrarSesion()">Cerrar sesión</a>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>