<div class="container mt-4 card">
    <div>
        <h4 class="mt-2" style="text-align: center;">Gestión de Empleados</h4>
        <button class="btn btn-primary" (click)="openModal(content)">
            <i class="bi bi-plus-circle"></i>
            Nuevo
        </button>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Fecha de nacimiento</th>
                <th>Fecha de contratación</th>
                <th>Cargo</th>
                <th>Salario</th>
                <th>Dirección</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let empleado of empleados">
                <td>{{ empleado.nombre }}</td>
                <td>{{ empleado.apellido }}</td>
                <td>{{ empleado.fechaNacimiento | date }}</td>
                <td>{{ empleado.fechaContratacion | date }}</td>
                <td>{{ empleado.cargo }}</td>
                <td>Bs. {{ empleado.salario }}</td>
                <td>{{ empleado.direccion }}</td>
                <td>
                    <button type="button" class="btn btn-danger" (click)="eliminarEmpleado(empleado)"
                        [disabled]="empleado.eliminando">
                        <span *ngIf="!empleado.eliminando"><i class="bi bi-trash"></i></span>
                        <span *ngIf="empleado.eliminando">
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        </span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div  *ngIf="cargandoDatos" style="width: 100%;text-align: center;margin: 20px;">
        <span class="spinner-border spinner-border-md" style="color: gray;" role="status" aria-hidden="true"></span>
    </div>

    <!-- Modal -->
    <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Registrar empleado</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <form #productoForm="ngForm">
                <div class="form-group row">
                    <div class="mb-3 col-6">
                        <label for="nombre" class="form-label">Nombres</label>
                        <input type="text" class="form-control" id="nombre" [(ngModel)]="nuevoEmpleado.nombre" name="nombre"
                            required>
                    </div>
                    <div class="mb-3 col-6">
                        <label for="apellido" class="form-label">Apellidos</label>
                        <input type="text" class="form-control" id="apellido" [(ngModel)]="nuevoEmpleado.apellido"
                        name="apellido" required>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="mb-3 col-6">
                        <label for="categoria" class="form-label">Fecha de nacimiento</label>
                        <input type="date" class="form-control" id="imagen" [(ngModel)]="nuevoEmpleado.fechaNacimiento"
                            name="imagen" required>
                    </div>
                    <div class="mb-3 col-6">
                        <label for="precio" class="form-label">Fecha de contratación</label>
                        <input type="date" class="form-control" id="precio" [(ngModel)]="nuevoEmpleado.fechaContratacion"
                            name="precio" required>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="mb-3 col-6">
                        <label for="cargo" class="form-label">Cargo</label>
                        <select class="form-control" id="cargo" [(ngModel)]="nuevoEmpleado.cargo"
                            name="cargo" required>
                            <option [ngValue]="'Supervisor'">Supervisor</option>
                            <option [ngValue]="'Gerente'">Gerente</option>
                            <option [ngValue]="'Encargado de ventas'">Encargado de ventas</option>
                            <option [ngValue]="'Vendedor auxiliar'">Vendedor auxiliar</option>
                        </select>
                    </div>
                    <div class="mb-3 col-6">
                        <label for="salario" class="form-label">Salario</label>
                        <input type="number" class="form-control" id="cantidad" [(ngModel)]="nuevoEmpleado.salario"
                            name="salario" required>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="direccion" class="form-label">Dirección</label>
                    <textarea class="form-control" id="direccion" [(ngModel)]="nuevoEmpleado.direccion"
                        name="direccion" required></textarea>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="modal.dismiss('cancel')">Cancelar</button>
            <button type="button" class="btn btn-primary" [disabled]="creando" (click)="crearEmpleado(nuevoEmpleado);">
                <span *ngIf="!creando">Guardar</span>
                <span *ngIf="creando">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Registrando...
                </span>
            </button>
        </div>
    </ng-template>
</div>